@model List<TestimonialViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Referans Görsel</th>
        <th>Referans Adı</th>
        <th>Referans Ünvan</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach(var item in Model)
    {
        <tr>
            <th>@item.TestimonialId</th>
            <th>@item.Image</th>
            <td>@item.Name</td>
            <td>@item.Title</td>
            <td><a href="/Staff/DeleteStaff/@item.TestimonialId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Staff/UpdateStaff/@item.TestimonialId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Testimonial/AddTestimonial" class="btn btn-success">Referans Ekle</a>

